In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data=pd.read_csv(r'C:\Users\YUVANSHU\Downloads\twitter-bot-detection-master\kaggle_data\training_data_2_csv_UTF.csv')

In [3]:
bots = training_data[training_data.bot==1]
nonbots = training_data[training_data.bot==0]

In [19]:
nonbots

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,...,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot,screen_name_binary,location_binary,verified_binary
1321,34716038.0,34716038,aaroncarter,Sony Recording Artist,NEW AARON CARTER MUSIC DOWNLOAD LINK LÌüVÌÇ EP...,NaN,571310,76070,4909,Thu Apr 23 20:15:49 +0000 2009,...,en,"{u'contributors': None, u'truncated': False, u...",False,False,True,Aaron Carter,0,True,True,True
1322,3013511.0,3013511,michellebranch,NaN,"singer/songwriter, hopeless romantic, drinker ...",https://t.co/2vSKw7cmzC,292385,963,6076,Fri Mar 30 20:58:59 +0000 2007,...,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,Michelle Branch,0,True,False,True
1323,56237623.0,56237623,stronginmyfaith,NaN,NaN,NaN,1,7,0,7/13/2009 0:38,...,en,"Status(contributors=None, truncated=False, tex...",True,True,False,laurie lindeman,0,True,False,False
1324,27964284.0,27964284,Jessicaveronica,5th Dimension,"@TheVeronicas ‰Ü Wanderer, worshiper, if you ...",https://t.co/U6yNZoDZfu,222659,352,3261,Tue Mar 31 21:12:33 +0000 2009,...,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,Jessica Veronica,0,True,True,True
1325,552876065.0,552876065,resargento,brasil,meio ogra mas o coraí_í£o í© de mocinha,NaN,646,446,2,4/13/2012 17:37,...,pt,NaN,False,False,False,rebosta,0,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,236209129.0,236209129,leslieberland,NaN,"Twitter CMO. Favorite title: Mama. Never, ever...",NaN,18998,2005,425,1/10/2011 2:06,...,en,RT @StationCDRKelly: Dreaming of napping in sp...,False,False,True,Leslie Berland,0,True,False,False
2793,254503881.0,254503881,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,...,en,"{'geo': None, 'in_reply_to_status_id': None, '...",True,False,False,Samuel Littlefield,0,True,True,False
2794,15485441.0,15485441,jimmyfallon,"New York, New York",astrophysicist,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,...,en,"Status(contributors=None, truncated=False, tex...",False,False,False,jimmy fallon,0,True,True,True
2795,751386872.0,751386872,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",NaN,16,64,1,8/11/2012 14:53,...,en,{'created_at': 'Sun Feb 26 15:51:57 +0000 2017...,False,False,True,Tammas Foxdene,0,True,True,False
2796,19929362.0,19929362,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,...,en,"{u'contributors': None, u'truncated': False, u...",True,False,True,Joe Barton,0,True,True,True

In [4]:
condition = (bots.screen_name.str.contains("bot", case=False)==True)|(bots.description.str.contains("bot", case=False)==True)|(bots.location.isnull())|(bots.verified==False)

bots['screen_name_binary'] = (bots.screen_name.str.contains("bot", case=False)==True)
bots['location_binary'] = (bots.location.isnull())
bots['verified_binary'] = (bots.verified==False)
bots.shape

C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\4108726507.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bots['screen_name_binary'] = (bots.screen_name.str.contains("bot", case=False)==True)
C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\4108726507.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bots['location_binary'] = (bots.location.isnull())
C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\4108726507.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bots['verified_binary'] = (bots.verified==False)

(1321, 23)

In [5]:
condition = (nonbots.screen_name.str.contains("bot", case=False)==False)| (nonbots.description.str.contains("bot", case=False)==False) |(nonbots.location.isnull()==False)|(nonbots.verified==True)

nonbots['screen_name_binary'] = (nonbots.screen_name.str.contains("bot", case=False)==False)
nonbots['location_binary'] = (nonbots.location.isnull()==False)
nonbots['verified_binary'] = (nonbots.verified==True)

nonbots.shape

C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\1062836795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonbots['screen_name_binary'] = (nonbots.screen_name.str.contains("bot", case=False)==False)
C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\1062836795.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonbots['location_binary'] = (nonbots.location.isnull()==False)
C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\1062836795.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonbots['verified_binary'] = (nonbots.verified==True)

(1476, 23)

In [6]:
df = pd.concat([bots, nonbots])
df.shape

(2797, 23)

In [7]:
df.corr(method='spearman')

C:\Users\YUVANSHU\AppData\Local\Temp\ipykernel_25788\1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

,id,followers_count,friends_count,listed_count,favourites_count,verified,statuses_count,default_profile,default_profile_image,bot,screen_name_binary,location_binary,verified_binary
id,1.000000,-0.672925,-0.402346,-0.615005,-0.439430,-0.611899,-0.451945,0.522990,0.166601,0.652131,-0.576100,-0.228328,0.150100
followers_count,-0.672925,1.000000,0.375522,0.896126,0.457363,0.709732,0.649117,-0.496899,-0.293838,-0.468430,0.458213,0.189675,0.130717
friends_count,-0.402346,0.375522,1.000000,0.204403,0.641529,0.356452,0.111118,-0.296358,-0.097607,-0.483105,0.342145,0.082692,-0.210592
listed_count,-0.615005,0.896126,0.204403,1.000000,0.349059,0.694340,0.684976,-0.447376,-0.269035,-0.318445,0.338698,0.188797,0.281360
favourites_count,-0.439430,0.457363,0.641529,0.349059,1.000000,0.394227,0.295108,-0.348043,-0.226956,-0.526228,0.408864,0.120941,-0.220894
verified,-0.611899,0.709732,0.356452,0.694340,0.394227,1.000000,0.333278,-0.404650,-0.132298,-0.508555,0.434177,0.191922,0.346505
statuses_count,-0.451945,0.649117,0.111118,0.684976,0.295108,0.333278,1.000000,-0.375918,-0.289999,-0.089018,0.162213,0.105333,0.207384
default_profile,0.522990,-0.496899,-0.296358,-0.447376,-0.348043,-0.404650,-0.375918,1.000000,0.246979,0.407748,-0.377572,-0.138378,0.072351
default_profile_image,0.166601,-0.293838,-0.097607,-0.269035,-0.226956,-0.132298,-0.289999,0.246979,1.000000,0.139669,-0.166388,0.000596,0.033021
bot,0.652131,-0.468430,-0.483105,-0.318445,-0.526228,-0.508555,-0.089018,0.407748,0.139669,1.000000,-0.843429,-0.266342,0.606771
screen_name_binary,-0.576100,0.458213,0.342145,0.338698,0.408864,0.434177,0.162213,-0.377572,-0.166388,-0.843429,1.000000,0.247107,-0.502677
location_binary,-0.228328,0.189675,0.082692,0.188797,0.120941,0.191922,0.105333,-0.138378,0.000596,-0.266342,0.247107,1.000000,-0.099474
verified_binary,0.150100,0.130717,-0.210592,0.281360,-0.220894,0.346505,0.207384,0.072351,0.033021,0.606771,-0.502677,-0.099474,1.000000

In [8]:


training_data=pd.read_csv(r'C:\Users\YUVANSHU\Downloads\twitter-bot-detection-master\kaggle_data\training_data_2_csv_UTF.csv')

bag_of_words_bot = r'bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                    r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                    r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                    r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'
            
training_data['screen_name_binary'] = training_data.screen_name.str.contains(bag_of_words_bot, case=False, na=False)
training_data['name_binary'] = training_data.name.str.contains(bag_of_words_bot, case=False, na=False)
training_data['description_binary'] = training_data.description.str.contains(bag_of_words_bot, case=False, na=False)
training_data['status_binary'] = training_data.status.str.contains(bag_of_words_bot, case=False, na=False)

In [9]:
training_data

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,...,status,default_profile,default_profile_image,has_extended_profile,name,bot,screen_name_binary,name_binary,description_binary,status_binary
0,8.160000e+17,"""815745789754417152""","""HoustonPokeMap""","""Houston, TX""","""Rare and strong PokŽmon in Houston, TX. See m...","""https://t.co/dnWuDbFRkt""",1291,0,10,"""Mon Jan 02 02:25:26 +0000 2017""",...,"{\r ""created_at"": ""Sun Mar 12 15:44:04 +0...",True,False,False,"""Houston PokŽ Alert""",1,True,False,False,True
1,4.843621e+09,4843621225,kernyeahx,"Templeville town, MD, USA",From late 2014 Socium Marketplace will make sh...,NaN,1,349,0,2/1/2016 7:37,...,NaN,True,False,False,Keri Nelson,1,True,False,False,False
2,4.303727e+09,4303727112,mattlieberisbot,NaN,"Inspired by the smart, funny folks at @replyal...",https://t.co/P1e1o0m4KC,1086,0,14,Fri Nov 20 18:53:22 +0000 2015,...,"{'retweeted': False, 'is_quote_status': False,...",True,False,False,Matt Lieber Is Bot,1,True,True,True,True
3,3.063139e+09,3063139353,sc_papers,NaN,NaN,NaN,33,0,8,2/25/2015 20:11,...,Construction of human anti-tetanus single-chai...,True,True,False,single cell papers,1,True,True,False,False
4,2.955142e+09,2955142070,lucarivera16,"Dublin, United States",Inspiring cooks everywhere since 1956.,NaN,11,745,0,1/1/2015 17:44,...,NaN,False,False,False,lucarivera16,1,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2.362091e+08,236209129,leslieberland,NaN,"Twitter CMO. Favorite title: Mama. Never, ever...",NaN,18998,2005,425,1/10/2011 2:06,...,RT @StationCDRKelly: Dreaming of napping in sp...,False,False,True,Leslie Berland,0,False,False,False,False
2793,2.545039e+08,254503881,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,...,"{'geo': None, 'in_reply_to_status_id': None, '...",True,False,False,Samuel Littlefield,0,False,False,True,False
2794,1.548544e+07,15485441,jimmyfallon,"New York, New York",astrophysicist,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,...,"Status(contributors=None, truncated=False, tex...",False,False,False,jimmy fallon,0,False,False,False,False
2795,7.513869e+08,751386872,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",NaN,16,64,1,8/11/2012 14:53,...,{'created_at': 'Sun Feb 26 15:51:57 +0000 2017...,False,False,True,Tammas Foxdene,0,False,False,False,False
2796,1.992936e+07,19929362,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,...,"{u'contributors': None, u'truncated': False, u...",True,False,True,Joe Barton,0,False,False,False,False

In [10]:
training_data['listed_count_binary'] = (training_data.listed_count>20000)==False
features = ['screen_name_binary', 'name_binary', 'description_binary', 'status_binary', 'verified', 'followers_count', 'friends_count', 'statuses_count', 'listed_count_binary', 'bot']

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.model_selection import train_test_split

X = training_data[features].iloc[:,:-1]
y = training_data[features].iloc[:,-1]

dt = DecisionTreeClassifier(criterion='entropy', min_samples_leaf=50, min_samples_split=10)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

dt = dt.fit(X_train, y_train)
y_pred_train = dt.predict(X_train)
y_pred_test = dt.predict(X_test)

print("Trainig Accuracy: %.5f" %accuracy_score(y_train, y_pred_train))
print("Test Accuracy: %.5f" %accuracy_score(y_test, y_pred_test))

Trainig Accuracy: 0.88707
Test Accuracy: 0.87857

In [12]:
y_pred_train

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)

In [13]:
X_train

,screen_name_binary,name_binary,description_binary,status_binary,verified,followers_count,friends_count,statuses_count,listed_count_binary
1508,False,False,False,False,False,328,1875,3335,True
412,True,True,True,False,False,50,0,926,True
899,False,False,False,False,False,364,0,25220,True
882,False,False,True,False,False,62,1,1760,True
1091,True,True,True,True,False,320,4,5570,True
...,...,...,...,...,...,...,...,...,...
599,True,False,True,False,False,1479,3,32440,True
1599,False,True,True,True,False,228,64,1015,True
1361,False,False,False,True,False,113,280,4538,True
1547,False,False,False,False,False,22,102,26,True
863,True,True,True,False,False,261,0,3410,True

In [14]:
training_data

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,...,default_profile,default_profile_image,has_extended_profile,name,bot,screen_name_binary,name_binary,description_binary,status_binary,listed_count_binary
0,8.160000e+17,"""815745789754417152""","""HoustonPokeMap""","""Houston, TX""","""Rare and strong PokŽmon in Houston, TX. See m...","""https://t.co/dnWuDbFRkt""",1291,0,10,"""Mon Jan 02 02:25:26 +0000 2017""",...,True,False,False,"""Houston PokŽ Alert""",1,True,False,False,True,True
1,4.843621e+09,4843621225,kernyeahx,"Templeville town, MD, USA",From late 2014 Socium Marketplace will make sh...,NaN,1,349,0,2/1/2016 7:37,...,True,False,False,Keri Nelson,1,True,False,False,False,True
2,4.303727e+09,4303727112,mattlieberisbot,NaN,"Inspired by the smart, funny folks at @replyal...",https://t.co/P1e1o0m4KC,1086,0,14,Fri Nov 20 18:53:22 +0000 2015,...,True,False,False,Matt Lieber Is Bot,1,True,True,True,True,True
3,3.063139e+09,3063139353,sc_papers,NaN,NaN,NaN,33,0,8,2/25/2015 20:11,...,True,True,False,single cell papers,1,True,True,False,False,True
4,2.955142e+09,2955142070,lucarivera16,"Dublin, United States",Inspiring cooks everywhere since 1956.,NaN,11,745,0,1/1/2015 17:44,...,False,False,False,lucarivera16,1,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2.362091e+08,236209129,leslieberland,NaN,"Twitter CMO. Favorite title: Mama. Never, ever...",NaN,18998,2005,425,1/10/2011 2:06,...,False,False,True,Leslie Berland,0,False,False,False,False,True
2793,2.545039e+08,254503881,SamuelsPants,brooklyn NY,"I live in brooklyn, I'm a bike messenger, I pl...",http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,...,True,False,False,Samuel Littlefield,0,False,False,True,False,True
2794,1.548544e+07,15485441,jimmyfallon,"New York, New York",astrophysicist,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,...,False,False,False,jimmy fallon,0,False,False,False,False,False
2795,7.513869e+08,751386872,LocalAlligator,"England, United Kingdom","I'm quite out of my mind, actually, but people...",NaN,16,64,1,8/11/2012 14:53,...,False,False,True,Tammas Foxdene,0,False,False,False,False,True
2796,1.992936e+07,19929362,RepJoeBarton,"Ennis, TX",I work for the people of the 6th District of T...,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,...,True,False,True,Joe Barton,0,False,False,False,False,True

In [15]:
X_train.head()

,screen_name_binary,name_binary,description_binary,status_binary,verified,followers_count,friends_count,statuses_count,listed_count_binary
1508,False,False,False,False,False,328,1875,3335,True
412,True,True,True,False,False,50,0,926,True
899,False,False,False,False,False,364,0,25220,True
882,False,False,True,False,False,62,1,1760,True
1091,True,True,True,True,False,320,4,5570,True

In [16]:
dt.predict([[True,True,True,False,False,50,0,926,True]])

C:\Users\YUVANSHU\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)